[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytz = "*"
django-extensions = "*"
Django = "*"
django-solo = "*"
reportlab = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-sugar = "*"

[requires]
python_version = "3.7"
