{%  extends 'base.html' %}
{% load i18n %}

{% block body %}
  <div class="w3-content">
    <div class="w3-bar w3-teal">
      <a href="{% url 'customer:add' %}" class="w3-button w3-teal">{% trans 'Add customer' %}</a>
      <a href="{% url 'customer:export' %}" class="w3-bar-item w3-button w3-right">{% trans 'Export customer' %}</a>
      <a href="{% url 'customer:import' %}" class="w3-bar-item w3-button w3-right">{% trans 'Import customer' %}</a>
    </div>
            {% if customer_list %}
              <table class="w3-table-all w3-card-4 w3-section">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>{% trans 'Customer name' %}</th>
                    <th>{% trans 'Customer ID' %}</th>
                    <th>{% trans 'Actions' %}</th>
                  </tr>
                </thead>
                <tbody>
                {% for customer in customer_list %}
                  <tr>
                    <td>{{ forloop.counter}}</td>
                    <td>{{ customer.name }}</td>
                    <td>{{ customer.customer_id }}</td>
                    <td><a href="{% url 'customer:update' customer.id %}">{% trans 'Update' %}</a> | <a href="{% url 'customer:delete' customer.id %}">{% trans 'Delete' %}</a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            {% else %}
                <p>{% trans 'No customers are available.' %}</li></p>
            {% endif %}
  </div>
{% endblock body %}
