{%  extends 'base.html' %}
{% load i18n %}

{% block body %}
  <div class="w3-content w3-section">
      {% if customer_list %}
          <ul class="w3-ul w3-card-4">
            <li><a href="{% url 'customer:add' %}" class="w3-button w3-teal">{% trans 'Add customer' %}</a></li>
            {% for customer in customer_list %}
                <li>
                  <div class="w3-display-container">
                    <strong>{{ customer.customer_id }}</strong> {{ customer.name }}
                    <div class="w3-display-right">
                      <a href="{% url 'customer:update' customer.id %}">{% trans 'Update' %}</a> | <a href="{% url 'customer:delete' customer.id %}">{% trans 'Delete' %}</a>
                    </div>
                  </div>
                </li>
            {% endfor %}
          </ul>
      {% else %}
        <p>{% trans 'No customer are available.' %}</p>
      {% endif %}
  </div>
{% endblock body %}