{% extends 'base.html' %}
{% load i18n %}

{% block body %}
  <div class="w3-content w3-section w3-card-4">
    <form action="" method="post" class="w3-container">
        <div class="w3-section">
        {% csrf_token %}
        {% for f in form %}
          {% if f.errors %}
            <div class="w3-panel w3-red">
              <p>{{ f.errors }}</p>
            </div>
          {% endif %}
          {{ f }}
          <label for="{{ f.id_for_label }}">{{ f.label }}</label>
        {% endfor %}
        <p>
            <input type="submit" value="{% trans 'Save' %}" class="w3-button w3-green" />
            {% if request.META.HTTP_REFFERER %}
                <a href="{{ request.META.HTTP_REFERER }}" class="w3-button w3-grey">{% trans 'Back' %}</a>
            {% else %}
                <a href="{% url 'reports:index' %}" class="w3-button w3-grey">{% trans 'Back' %}</a>
            {% endif %}
        </p>
        </div>
    </form>
  </div>
{% endblock body %}