{% load static %}
{% load i18n %}

 <!DOCTYPE html>
  <html>
    <head>
      <title>{% block title %}DocumentPanda{% endblock %}</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="{% static 'css/w3.css' %}">
      <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    </head>

    <body>
      {% block menu %}
        <div class="w3-bar w3-light-grey">
          <a href="#" class="w3-bar-item w3-button w3-mobile">Home</a>
          <a href="{% url 'reports:index' %}" class="w3-bar-item w3-button w3-mobile {% if '/reports/' in request.path %}w3-grey{% endif %}">{% trans 'Reports' %}</a>
          <a href="{% url 'customer:list' %}" class="w3-bar-item w3-button w3-mobile {% if '/customer/' in request.path %}w3-grey{% endif %}">{% trans 'Customer' %}</a>
        </div>
      {% endblock menu %}

      {% block messages %}
          {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
            <br />
          {% endif %}
      {% endblock messages %}

      {% block body %}
      {% endblock body %}
    </body>
  </html>